<nav class="nav">
  <div class="nav__inner">
    <div class="nav__logo">
      <img src="images/easy-life-logo-light-no-bg.png" alt="Easy Life" />
    </div>
    <div class="nav__links">
      <a href="/#features" class="nav__link">Features</a>
      <a routerLink="/pricing" class="nav__link">Pricing</a>
      <a routerLink="/about" class="nav__link">About</a>
      <a routerLink="/support" class="nav__link">Support</a>
    </div>
    <div class="nav__actions">
      <a routerLink="/login" class="btn-login-nav">Login</a>
      <a routerLink="/register" class="btn-primary btn-sm">Register</a>
    </div>
  </div>
</nav>
